.addButton,
.addButton:active,
.addButton:hover,
.addButton:focus {
  background-color: rgba(52, 58, 64, 1) !important;
  border-color: rgba(52, 58, 64, 1) !important;
}

.addButton {
  border-radius: 50% 50% 50% 50% !important;
}
